CSS
/* Write your CSS here! */


.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  /* padding: 0; */
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-top: px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(247, 244, 244);

  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 0px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0);

  /*  position: fixed; */
}

.headLinks {
  display: flex;
}
.headLinks a {
  padding-right: 40px;
  color: white;

  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}
.headLinks a:hover {
  /* z-index: 0; */
  text-shadow: 20px 0 100px #ffe600, -40px 0 100px #fffb00;
}
.videoText a {
  font-size: 70px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
  position: relative;
}

.videoText a:hover {
  /*  z-index: 0; */
  text-shadow: 40px 0 100px #008cff, -40px 0 100px #e100ff;
}

.videoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 100px;
  position: relative;

  min-height: 80vh;
}
.vidBG {
  position: absolute;
  z-index: -1;
  top: 1;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-height: 120vh;
  object-fit: cover;
}
.imgBG {
  position: absolute;
  z-index: -1;
  top: 1;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-height: 120vh;
  object-fit: cover;
}

#mainHeading {
  text-align: center;
  padding-bottom: 50px;
  color: red;
}
article {
  display: flex;
  align-items: center;
}
article img {
  max-width: 400px;
  margin-right: 100px;
  padding-left: 50px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.articleText {
  flex: 1;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.funParagraph {
  color: green;
}
.lineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.aboutMe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 1.6rem;
}
.aboutMe::before,
.aboutMe::after {
  content: "";
  height: 2px;
  background-color: black;
  display: block;
}

/* @media only screen and (max-width: 400px) {
  .vidBG {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .vidBG {
    width: 100%;
    height: 100%;
  }
} */
