body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 1 em 2 rm;
  background-color: #161a20;
  border: none;
  color: rgb(128, 128, 128);
  border-radius: 1000px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
button::after {
  content: "";
  position: absolute;
  height: 107%;
  width: 102%;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, #008cff, #e100ff);
  z-index: -1;
}
button:hover {
  z-index: 0;
  box-shadow: 40px 0 100px #008cff, -40px 0 100px #e100ff;
}
